body {
  margin: 0;
}

a {
  color: #000000;
  font-family: sans-serif;
  font-size: 3rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
}

.Menu {
  grid-column-start: 1;
  grid-column-end: 3;
}

.Gotoapp {
  height: 70px;
  padding: 10px;
  grid-column-start: 6;
  grid-column-end: 8;
  background-color: #000000;
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Gotoapp a {
  font-size: 1rem;
  color: #fff;
}

.Panier {
  grid-column-start: 10;
  grid-column-end: 11;
}

.Coeur {
  grid-column-start: 11;
  grid-column-end: 12;
}

.User {
  grid-column-start: 12;
  grid-column-end: 13;
}

/*Intro */

.Intro {
  width: 100%;
  height: 1117px;
  background-color: aliceblue;
}

.Accroche {
  width: 50%;
  height: 500px;
  color: #fff;
  margin-top: 120px;
}
/*About*/

.About {
  width: 100%;
  height: 1117px;
  background-color: antiquewhite;
}
